absl-py==2.0.0
asgiref==3.7.2
attrs==23.1.0
autobahn==23.1.2
Automat==22.10.0
backports.zoneinfo==0.2.1
cffi==1.16.0
channels==4.0.0
constantly==23.10.4
contourpy==1.1.1
cryptography==41.0.5
cvzone==1.6.1
cycler==0.12.1
daphne==4.0.0
Django==4.2.7
flatbuffers==23.5.26
fonttools==4.45.0
hyperlink==21.0.0
idna==3.4
importlib-resources==6.1.1
incremental==22.10.0
kiwisolver==1.4.5
matplotlib==3.7.4
mediapipe==0.10.8
numpy==1.24.4
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
packaging==23.2
Pillow==10.1.0
protobuf==3.20.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyOpenSSL==23.3.0
pyparsing==3.1.1
python-dateutil==2.8.2
service-identity==23.1.0
six==1.16.0
sounddevice==0.4.6
sqlparse==0.4.4
Twisted==23.10.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.8.0
tzdata==2023.3
zipp==3.17.0
zope.interface==6.1
